*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#f4f6fa;
  color:#0c2340;
}

.container{
  width:90%;
  max-width:1200px;
  margin:auto;
}

.hero{
  background:linear-gradient(135deg,#072d5f,#001a38);
  color:white;
  padding:80px 0;
}

.hero .container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:50px;
}

.left{
  width:55%;
}

.right{
  width:40%;
}

.badge{
  display:inline-block;
  background:#cffff4;
  color:#00324e;
  padding:6px 14px;
  border-radius:20px;
  font-size:12px;
  margin-bottom:20px;
}

h1{
  font-size:55px;
  line-height:1.2;
}

h1 span{
  color:#9ff8ea;
}

.desc{
  margin:25px 0;
  color:#d7e5f8;
  line-height:1.6;
}

.buttons{
  margin-top:20px;
}

button{
  border:none;
  padding:14px 22px;
  border-radius:10px;
  cursor:pointer;
  font-weight:bold;
}

#laporBtn{
  background:white;
  color:#072d5f;
}

.outline{
  margin-left:10px;
  background:transparent;
  border:1px solid rgba(255,255,255,0.4);
  color:white;
}

.card{
  background:rgba(255,255,255,0.08);
  padding:25px;
  border-radius:16px;
  margin-bottom:20px;
}

.card button{
  width:100%;
  margin-top:15px;
  background:#baf8ee;
  color:#072d5f;
}

.small{
  position:relative;
}

.status{
  position:absolute;
  top:20px;
  right:20px;
  background:#21c46b;
  color:white;
  padding:5px 10px;
  border-radius:10px;
  font-size:12px;
}

.monitor,
.events{
  padding:70px 0;
}

.stock-box{
  margin-top:25px;
  background:white;
  padding:30px;
  border-radius:18px;
  box-shadow:0 10px 20px rgba(0,0,0,0.08);
}

.stock-box p{
  font-size:50px;
  font-weight:bold;
  margin:15px 0;
}

.event-grid{
  margin-top:30px;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}

.event-card{
  background:white;
  padding:25px;
  border-radius:18px;
  box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

.event-card h3{
  margin-bottom:10px;
}

.danger{
  background:#001a38;
  color:white;
  padding:70px 0;
}

.center{
  text-align:center;
}

#daruratBtn{
  margin-top:20px;
  background:red;
  color:white;
}

@media(max-width:900px){

  .hero .container{
    flex-direction:column;
  }

  .left,
  .right{
    width:100%;
  }

  .event-grid{
    grid-template-columns:1fr;
  }

  h1{
    font-size:40px;
  }

}